* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar */

.header-content {
    max-width: 1140px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
    padding: 5.5px;
    margin: 30px 150px 0 150px;
}
.navbar {
    display: flex;
    gap: 48px;
}
.nav-links {
    display: flex;
    list-style: none;
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    gap: 48px;
}
.nav-links a {
    text-decoration: none;
    color: rgb(137, 135, 161);
}
.Home {
    color: rgb(37, 36, 50);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
}
.cart {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Banner */

.banner {
    max-width: 1140px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 150px 0 150px;
    align-items: flex-end;
    padding-top: 106px;
}
.banner-title {
    color: rgb(37, 36, 50);
    font-family: Noto Serif;
    font-size: 65px;
    font-weight: 700;
}
.fresh-flowers {
    color: rgb(233, 90, 8);
    font-family: Noto Serif;
    font-size: 65px;
    font-weight: 700;
}
.banner-description {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
}
.banner-img {
    width: 100%;
}
.banner-content {
    width: 100%;
}



/* Plants Section */

/* Plants Lover Section */

/* Trusted Plant Lover Badge Challenge Part */

/* Latest Deal Section Challenge Part */

/* Join Section */

/* Footer Section */




/* Responsive CSS for Mobile devices (max width 576px) */
@media screen and (max-width: 576px) {
    
    /* responsive header for Mobile devices */
    .nav-links {
        display: none;
    }
    .header-content {
        margin: 13px 16px 0 16px;
    }

    .banner {
        flex-direction: column;
        margin: 20px 20px 0 20px;
        padding-top: 40px;
        align-items: center;
        text-align: left;
    }

    .banner-content {
        width: 100%;
        order: 2;
        margin-top: 30px;
    }

    .banner-img {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-flower {
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: contain;
    }

    .banner-title {
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .fresh-flowers {
        font-size: 36px;
        line-height: 1.2;
    }

    .banner-description {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 15px;
    }

    
}


/* optional */

/* Create an Animation for Trusted Plant Lover Badge 
It will Spin infinite times 
Show an Alert with a message "Flower Added to Cart" 
when some one click on Add to Cart Button */