* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar */

.header-content {
    max-width: 1140px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
    padding: 5.5px;
    margin: 30px 150px 0 150px;
}
.navbar {
    display: flex;
    gap: 48px;
}
.nav-links {
    display: flex;
    list-style: none;
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    gap: 48px;
}
.nav-links a {
    text-decoration: none;
    color: rgb(137, 135, 161);
}
.Home {
    color: rgb(37, 36, 50);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
}
.cart {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* Banner */

/* Plants Section */

/* Plants Lover Section */

/* Trusted Plant Lover Badge Challenge Part */

/* Latest Deal Section Challenge Part */

/* Join Section */

/* Footer Section */




/* Responsive CSS for Mobile devices (max width 576px) */
@media screen and (max-width: 576px) {
    
    /* responsive header for Mobile devices */
    .nav-links {
        display: none;
    }
    .header-content {
        margin: 13px 16px 0 16px;
    }
}


/* optional */

/* Create an Animation for Trusted Plant Lover Badge 
It will Spin infinite times 
Show an Alert with a message "Flower Added to Cart" 
when some one click on Add to Cart Button */